<div
  class="fixed top-0 left-0 h-full w-[15rem] bg-secondary text-white shadow-xl shadow-blue-gray-900/5 transform transition-transform duration-300 ease-in-out"
  [ngClass]="{
    '-translate-x-full': !isVisible,
    'translate-x-0': isVisible
  }"
>
  <div class="p-4 mb-2">
    <h5
      class="block font-sans text-xl antialiased font-semibold leading-snug tracking-normal text-blue-gray-900"
    >
      Guimabot
    </h5>
  </div>
  <nav
    class="flex flex-col gap-1 p-2 font-sans text-base font-normal text-blue-gray-700"
  >
    <div
      *ngFor="let item of menuItems"
      (click)="onMenuClick(item)"
      role="button"
      class="flex items-center w-full p-3 leading-tight transition-all rounded-lg outline-none text-start [&>div]:hover:text-gray-300 hover:text-gray-300"
    >
      <div class="grid mr-4 place-items-center font-sans font-light">
        <mat-icon>{{ item.icon }}</mat-icon>
      </div>
      {{ item.label }}
    </div>
  </nav>
</div>
