<h2 mat-dialog-title>{{ dialogConfig.title }}</h2>
<mat-dialog-content class="mb-6">
  <ng-container *ngIf="dialogConfig.type === 'confirm'">
    <p>{{ dialogConfig.message }}</p>
  </ng-container>

  <ng-container
    *ngIf="dialogConfig.type === 'form'"
    class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 gap-6"
  >
    <form [formGroup]="form" class="grid w-full">
      <div *ngFor="let field of dialogConfig.fields" class="grid gap-1">
        <mat-form-field appearance="outline">
          <mat-label>{{ field.label }}</mat-label>
          <input
            matInput
            [type]="field.type || 'text'"
            [formControlName]="field.name"
          />
        </mat-form-field>
        <mat-error
          *ngIf="form.get(field.name)?.invalid"
          class="text-sm text-red-500"
        >
          {{ getErrorMessage(field.name) }}
        </mat-error>
      </div>
    </form>
  </ng-container>
</mat-dialog-content>

<mat-dialog-actions class="text-white gap-2">
  <button class="bg-red-500 rounded-md py-2 px-3" (click)="onCancel()">
    Cancelar
  </button>
  <button
    class="bg-blue-500 rounded-md py-2 px-3"
    (click)="onSubmit()"
    [disabled]="dialogConfig.type === 'form' && form.invalid"
  >
    {{ dialogConfig.confirmText || "Aceptar" }}
  </button>
</mat-dialog-actions>
