<div class="relative flex h-screen">
  <!-- Sidebar -->
  <app-sidebar
    class="transition-transform duration-300 ease-in-out"
    [ngClass]="{
      '-translate-x-full': !sidebarVisible,
      'translate-x-0': sidebarVisible
    }"
    [isVisible]="sidebarVisible"
  ></app-sidebar>

  <div
    class="flex flex-1 flex-col transition-all duration-300"
    [ngClass]="{
      'ml-[15rem]': sidebarVisible,
      'ml-0': !sidebarVisible
    }"
  >
    <!-- Navbar -->
    <app-navbar
      class="transition-all duration-300"
      [isSidebarVisible]="sidebarVisible"
      (toggleSidebar)="toggleSidebar()"
    ></app-navbar>

    <!-- Page Content -->
    <div class="p-4">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
